body {
  margin: 0;
  font-family: $font-medium;
}
.c-card {
  border-radius: 43px;
  padding: 3em 2em;
  background-color: $white;

  &.shadow {
    box-shadow: 0 0 16px #00000026;
  }
}
.text-sm-light {
  font-size: $font-size-sm;
  font-family: $font-light;
}
