body {
  margin: 0;
  font-family: $font-medium;
}
.c-card {
  border-radius: 43px;
  padding: 3em 2em;
  background-color: $white;

  &.shadow {
    box-shadow: 0 0 16px #00000026;
  }
}
.text-sm-light {
  font-size: $font-size-sm;
  font-family: $font-light;
}
.swal-footer {
  text-align: center;

  .swal-button-container {
    .swal-button {
      border-radius: 10px;
      padding: 15px 10px;
      font-family: $font-light !important;
      font-size: $font-size-md;
    }
    .swal-button--confirm {
      color: $white;
      background-color: $primary;
    }
  }
}
